*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
myapi.key
*-handin.tar.gz
xv6.out*
.vagrant/
submissions/
.vscode-server/*
.DS*
*.json
*.log
.bash_history
.gitconfig
.dotnet/corefx/cryptography/crls/7abcc12f.dea36fd7.crl
.dotnet/corefx/cryptography/crls/75d1b2ed.de05bb98.crl
.dotnet/corefx/cryptography/crls/7462804f.d5a68194.crl
.dotnet/corefx/cryptography/crls/d16da424.cbeb964c.crl
.ssh/known_hosts
notxv6/barrier
notxv6/ph
.cache/typescript/5.1/package.json
.gitignore

